.ui-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: all 0.15s ease-out;
    font-family: $font-subheading;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;

    &:active, &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.7;
    }

    &--default {
        font-size: 1.5rem;
        padding: 1.2rem 2.4rem;
        background: $btn-default-bg;
        color: $btn-default-color;

        &:hover {
            background: darken($btn-default-bg, 4%);
            color: $btn-default-color;
        }

        &:active, &:visited, &:focus {
            color: $btn-default-color;
        }
    }

    &--primary {
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 1.4rem 3.2rem;
        background: $btn-primary-bg;
        color: $btn-primary-color;

        &:hover {
            background: darken($btn-primary-bg, 3%);
            color: $btn-primary-color;
        }

        &:active, &:visited, &:focus {
            color: $btn-primary-color;
        }
    }

    &--secondary {
        font-size: 1.6rem;
        padding: 1.4rem 2.8rem;
        color: $btn-secondary-color;

        &:active, &:visited, &:focus {
            color: $btn-secondary-color;
        }

        &:hover {
            background: darken($btn-primary-bg, 3%);
            color: $btn-secondary-color;
        }
    }
}
