.slick-slider {
    .slick-dots {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        margin: 0.5rem 0 0 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;

            &.slick-active button:after {
                background: $color-primary;
            }
        }

        button {
            font-size: 0;
            border: none;
            margin: 0 5px;
            background: none;
            padding: 10px 0;

            &:after {
                content: '';
                display: inline-block;
                background: darken(white, 18%);
                width: 11px;
                height: 11px;
                border-radius: 50%;
            }

            &:active, &:focus {
                outline: none;
            }
        }
    }
}
