@font-face {
    font-family: 'NeutraDisp-Titling';
    src: url('../fonts/NeutraDisp-Titling.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/NeutraDisp-Titling.otf')  format('opentype'),
        url('../fonts/NeutraDisp-Titling.woff') format('woff'), 
        url('../fonts/NeutraDisp-Titling.ttf')  format('truetype'), 
        url('../fonts/NeutraDisp-Titling.svg#NeutraDisp-Titling') format('svg');
    font-weight: normal;
    font-style: normal;
}
