// fonts
$font-base: 'Lato', sans-serif;
$font-heading: 'NeutraDisp-Titling', sans-serif;
$font-subheading: 'Montserrat', sans-serif;
$font-special: 'Maven Pro', sans-serif;

// colors
$color-primary: #f19224;
$color-secondary: #172983;
$color-base: lighten(black, 30%);


// layout
$header-height: 6.5rem;
$header-height-mobile: 6rem;

// screen sizes
$screen-us: 375px;
$screen-xs: 550px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1380px;

// buttons
$btn-default-bg: darken(white, 10%);
$btn-default-color: lighten($color-base, 10%);

$btn-primary-bg: $color-primary;
$btn-primary-color: white;

$btn-secondary-bg: $color-secondary;
$btn-secondary-color: white;
