.home {
    &__section {
        padding: 8rem 0;

        &__heading {
            text-align: center;
            color: $color-secondary;
            font-size: 3.5rem;
            margin-bottom: 7rem;
        }

        &__subheading {
            text-align: center;
            color: $color-secondary;
            font-size: 2.5rem;
            margin-bottom: 6rem;
        }
    }

    &__banner {
        background-size: cover;
        background-position: top center;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $screen-sm) {
            align-items: flex-end;
        }

        &__headline {
            text-align: center;
            font-family: $font-heading;
            color: white;
            text-transform: uppercase;
            border: 6px solid white;
            position: relative;
            margin: 10rem 2rem 5rem;

            @media (min-width: $screen-xs) {
                margin-right: -10rem;
            }

            @media (min-width: $screen-sm) {
                margin-right: 25%;
            }

            @media (min-width: $screen-md) {
                display: flex;
                padding: 4rem;
            }

            &__emphasis {
                font-family: $font-special;
                font-weight: 700;
                font-size: 20rem;
                position: absolute;
                top: -14rem;
                left: 30%;

                @media (min-width: $screen-md) {
                    position: static;
                    line-height: 0.7;
                    font-size: 22rem;
                }
            }

            &__copy {
                font-size: 3.0rem;
                padding: 10rem 3rem 3rem;

                @media (min-width: $screen-md) {
                    padding: 0;
                    margin-left: -4.5rem;
                    text-align: left;
                }
            }
        }

        &__cta {
            background: $color-primary;
            padding: 4rem 3rem;
            color: white;
            font-family: $font-subheading;
            line-height: 1.3;
            width: 100%;

            @media (min-width: $screen-xs) {
                background: linear-gradient(to right, $color-primary, rgba($color-primary, 0.5) 300%);
            }

            @media (min-width: $screen-sm) {
                width: 50%;
                margin: -7rem 0 4rem 0;
                padding-top: 6rem;
            }

            @media (min-width: $screen-md) {
                background: linear-gradient(to right, $color-primary, rgba($color-primary, 0.3) 200%);
            }

            &__heading {
                font-size: 2rem;
                font-weight: 700;
            }

            &__copy {
                font-size: 1.8rem;
                margin-top: 2rem;
            }

            &__button {
                margin-top: 2rem;
            }
        }
    }

    &__community {
        &__inner-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width: $screen-sm) {
                flex-direction: row;
                justify-content: center;
            }

            @media (min-width: $screen-md) {
                align-items: center;
            }
        }

        &__testimonials {
            max-width: 34rem;
            margin: -1rem;

            @media (min-width: $screen-md) {
                margin: -2rem;
                display: flex;
                justify-content: center;
                max-width: none;
            }

            &__item {
                background: white;
                box-shadow: 0 2px 8px rgba(0,0,0,0.15);
                margin: 1rem;
                padding: 3rem;
                text-align: center;
                max-width: 34rem;

                @media (min-width: $screen-md) {
                    margin: 2rem;
                }
            }

            &__image {
                background-size: cover;
                background-position: center;
                width: 13rem;
                height: 13rem;
                border-radius: 50%;
                border: 5px solid $color-primary;
                margin: 0 auto;
            }

            &__info {
                margin-top: 3rem;
                color: $color-secondary;
                font-family: $font-subheading;
                font-size: 1.7rem;
            }

            &__quote {
                margin-top: 2rem;
                color: lighten($color-base, 20%);
            }
        }

        &__gift-signup {
            margin-top: 4rem;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 30rem;
            text-align: center;

            @media (min-width: $screen-sm) {
                margin: 0 0 0 6rem;
            }

            @media (min-width: $screen-md) {
                margin: 0 4.2rem;
            }

            h3 {
                color: $color-primary;
                font-family: $font-subheading;
                font-weight: 700;
                margin: 1rem 0 0 0;
                font-size: 2.2rem;
                text-transform: uppercase;
            }

            &__image {
                margin-top: 3rem;
                width: 15rem;
                height: 17rem;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 0 1px 5px rgba(0,0,0,0.2);
            }

            &__button {
                margin-top: 3rem;
            }
        }
    }

    &__how-it-works {
        background: #f0f5f7;

        > .container {
            position: relative;
        }

        &__nav {
            display: none;

            @media (min-width: $screen-md) {
                display: block;
                opacity: 0;
                position: absolute;
                top: 26rem;
                left: -1rem;
                margin: 0;
                padding: 0;
                list-style: none;
                transition: opacity 0.15s ease-out;

                li {
                    margin: 0;
                    padding: 0;
                }

                a {
                    display: block;
                    padding: 6px;

                    &:after {
                        width: 11px;
                        height: 11px;
                        background: darken(white, 18%);
                        border-radius: 50%;
                        display: block;
                        content: '';
                    }

                    &.active:after {
                        background: $color-primary;
                    }
                }
            }

            @media (min-width: $screen-xl) {
                left: -4rem;
            }

            &.active {
                opacity: 1;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            @media (min-width: $screen-md) {
                padding-left: 8rem;
            }
        }

        &__item {
            position: relative;
            max-width: 40rem;
            margin: 6rem 0;

            &:first-child {
                margin: 0;
            }

            &:nth-child(odd) {
                .home__how-it-works__heading, .home__how-it-works__copy {
                    margin-left: 20%;

                    @media (min-width: $screen-md) {
                        margin-left: 0%;
                    }
                }
            }

            @media (min-width: $screen-md) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: none;
                width: 100%;
            }

            &.active, &.active-fixed {
                .home__how-it-works__image-desktop {
                    opacity: 1;
                }
            }
        }

        &__text {
            @media (min-width: $screen-md) {
                width: 35%;
            }
        }

        &__heading {
            display: flex;
            align-items: center;

            &__number {
                font-size: 12rem;
                font-family: $font-special;
                font-weight: 700;
                color: white;
                border-top: 1.5rem solid white;
                line-height: 1;
            }

            &__text {
                color: $color-secondary;
                font-family: $font-subheading;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 2.2rem;
                margin: 0 0 0 -2.5rem;
            }
        }

        &__copy {
            width: 80%;
            color: lighten($color-base, 10%);
            margin-top: 2rem;
            font-size: 1.7rem;

            @media (min-width: $screen-md) {
                width: auto;
            }
        }

        &__image-mobile {
            position: absolute;

            @media (min-width: $screen-md) {
                display: none;
            }
        }

        &__image-desktop {
            display: none;

            @media (min-width: $screen-md) {
                display: block;
                width: 60%;
                opacity: 0;
                transition: opacity 0.15s ease-out;
            }
        }

        &__item-1 {
            .home__how-it-works__image-mobile {
                top: -6rem;
                right: 0rem;
            }
        }

        &__item-2 {
            .home__how-it-works__image-mobile {
                top: 4rem;
                left: -2rem;
            }
        }

        &__item-4 {
            .home__how-it-works__image-mobile {
                top: 6rem;
                left: -1.5rem;
            }
        }

        &__spacer {
            @media (min-width: $screen-md) {
                height: 30rem;
            }
        }

        &__button-container {
            text-align: center;
        }

        &__button {
            margin: 10rem auto 0;

            @media (min-width: $screen-md) {
                margin-top: 6rem;
            }
        }
    }

    &__prefooter {
        .home__section__heading {
            margin-bottom: 2rem;
        }

        &__sections {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: -2rem;

            @media (min-width: $screen-sm) {
                margin: -3rem;
            }

            @media (min-width: $screen-md) {
                margin: -1% 0;
            }

            @media (min-width: $screen-lg) {
                margin: -2% 0;
            }
        }

        &__section {
            text-align: center;
            margin: 2rem;
            padding-bottom: 4rem;
            max-width: 35rem;
            border-bottom: 1px solid darken(white, 5%);

            &:last-child {
                border: none;
                padding-bottom: none;

                @media (min-width: $screen-md) {
                    padding-right: 0;
                    border-right: none;
                }
            }

            @media (min-width: $screen-sm) {
                margin: 3rem;
            }

            @media (min-width: $screen-md) {
                width: 30%;
                margin: 3% 0;
                padding: 0 3%;
                border-bottom: none;
                border-right: 1px solid darken(white, 5%);
            }

            @media (min-width: $screen-lg) {
                margin: 4% 0;
                padding: 0 4%;
                width: 32%;
            }

            &__heading {
                color: $color-secondary;
                font-family: $font-subheading;
                font-size: 1.8rem;
                margin: 2rem 0 1rem 0;
            }

            &__heading-border {
                border-bottom: 4px solid $color-primary;
                width: 7rem;
                margin: 0 auto;
            }

            &__copy {
                margin-top: 2rem;
                font-size: 1.5rem;
                color: lighten($color-base, 10%);
            }
        }

        &__button-container {
            text-align: center;
            margin-top: 2rem;

            @media (min-width: $screen-md) {
                margin-top: 4rem;
            }
        }
    }

    &__footer-cta {
        background-size: cover;
        background-position: center;

        @media (min-width: $screen-lg) {
            height: 40rem;
        }

        > .container {
            @media (min-width: $screen-lg) {
                height: 100%;
                display: flex;
                align-items: center;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width: $screen-xs) {
                align-items: flex-start;
                justify-content: center;
                padding-left: 10%;
            }
        }

        &__heading {
            color: white;
            max-width: 30rem;
            margin-bottom: 6rem;

            @media (min-width: $screen-xs) {
                text-align: left;
            }

            @media (min-width: $screen-md) {
                max-width: none;
            }
        }

        &__subheading {
            margin-top: -4rem;
            font-family: $font-subheading;
            color: white;
            font-size: 2rem;
            max-width: 30rem;

            @media (min-width: $screen-xs) {
                text-align: left;
            }

            @media (min-width: $screen-md) {
                max-width: 35rem;
            }
        }
    }
}
