.footer {
    background: #313131;
    padding: 2rem 0;

    p {
        text-align: center;
        margin: 0;
        color: darken(white, 10%);
        font-size: 1.4rem;

        a {
            color: $color-primary;
        }
    }
}