.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    max-height: $header-height-mobile;
    overflow: hidden;
    background: white;
    transition: 0.2s ease-out;
    -webkit-tap-highlight-color: transparent;

    @media (min-width: $screen-md) {
        height: $header-height;
        max-height: none;
    }

    &.header--open {
        max-height: 40rem;

        @media (min-width: $screen-sm) {
            max-height: 15rem;
        }

        .header__nav-container {
            opacity: 1;
        }
    }

    > .container {
        padding: 0 2rem;
    }

    &__inner-container {
        @media (min-width: $screen-md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: $screen-lg;
            margin: 0 auto;
            height: 100%;
        }
    }

    &__logo-toggle-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;

        @media (min-width: $screen-lg) {
            width: 6rem;
        }
    }

    &__toggle {
        width: $header-height-mobile;
        height: $header-height-mobile;
        margin-right: -1.3rem;
        position: relative;

        @media (min-width: $screen-md) {
            display: none;
        }

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 40%;
            background: lighten(black, 30%);
            opacity: 1;
            left: 30%;
            transform: rotate(0deg);
            transition: 0.20s ease-out;

            &:nth-child(1) {
                top: 18px;
            }

            &:nth-child(2), &:nth-child(3) {
                top: 24px;
            }

            &:nth-child(4) {
                top: 30px;
            }
        }

        &.header__toggle--open {
            span {
                &:nth-child(1) {
                    top: 24px;
                    width: 0%;
                    left: 40%;
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }

                &:nth-child(4) {
                    top: 24px;
                    width: 0%;
                    left: 40%;
                }
            }
        }
    }

    &__nav-container {
        opacity: 0;
        transition: 0.20s ease-out;
        margin: 2rem 0;

        &.header__search--active {
            input#search {
                width: 25rem;
                opacity: 1;
            }

            .header__nav a {
                @media (min-width: $screen-sm) {
                    opacity: 0;
                }
            }
        }

        @media (min-width: $screen-sm) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        @media (min-width: $screen-md) {
            opacity: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
        }
    }

    &__nav {
        font-family: $font-subheading;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            @media (min-width: $screen-sm) {
                display: flex;
            }

            @media (min-width: $screen-md) {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
        
        li {
            margin: 0;
            padding: 0;
        }

        a {
            padding: 1.4rem 1.5rem;
            display: block;
            text-transform: uppercase;
            font-size: 1.5rem;
            color: darken($color-base, 10%);
            font-weight: 700;
            transition: opacity 0.15s ease-out;

            @media (min-width: $screen-sm) {
                color: lighten($color-base, 10%);
                font-weight: 400;
            }

            @media (min-width: $screen-md) {
                font-size: 1.3rem;
                padding-left: 1.2rem;
                padding-right: 1.2rem;
            }
        }
    }

    &__search {
        padding: 1.0rem 1.5rem;
        display: flex;
        align-items: center;
        position: relative;

        @media (min-width: $screen-sm) {
            padding-right: 0;
        }

        svg {
            width: 2.2rem;
            height: 2.5rem;
            stroke: darken($color-base, 10%);
            cursor: pointer;

            @media (min-width: $screen-sm) {
                width: 1.8rem;
                height: 2.1rem;
                stroke: lighten($color-base, 20%);
            }
        }

        form {
            width: 100%;

            @media (min-width: $screen-sm) {
                position: absolute;
                top: 0.4rem;
                left: -27rem;
            }
        }

        input {
            width: 0;
            opacity: 0;
            margin-left: 1.5rem;
            padding-bottom: 1rem;
            border: none;
            border-bottom: 2px solid lighten($color-base, 20%);
            outline: none;
            transition: 0.15s ease-out;

            @media (min-width: $screen-md) {
                font-size: 1.5rem;
            }
        }
    }

    &__spacer {
        height: $header-height-mobile;

        @media (min-width: $screen-md) {
            height: $header-height;
        }
    }
}

.content-fader {
    transition: background 0.2s ease-out;

    &.header-menu--open {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 500;
        background: rgba(0,0,0,0.65);
    }
}
