.container {
    max-width: $screen-lg;
    margin: 0 auto;
    padding: 0 3rem;

    @media (min-width: $screen-lg + 40) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.page-content {
    padding: 6rem 0;

    @media (min-width: $screen-md) {
        padding: 8rem 0;
    }
}
